{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Router</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Setup</a></li>
                            <li class="breadcrumb-item"><a href="/router">Router</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Edit Router</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Edit Router</h5>
                            </div>
                            <div class="card-body">
                                <form name="form2" action="/update_router/{{router.id}}" method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="form-group">
                                        <label>Router Name</label>
                                        <input type="text" class="form-control" name="router_name" placeholder="Enter Router Name" value="{{router.router_name}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Select Site</label>
                                        <select name="select_site" class="form-control">
                                            <option default>{{router.select_site.site_name}}</option>
                                            {% for site in site %}
                                            <option value={{site.id}}>{{site.site_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Access ID</label>
                                        <input type="text" class="form-control" name="access_id" placeholder="Enter Access ID" value="{{router.access_id}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Access Password</label>
                                        <input type="password" class="form-control" name="access_pwd" placeholder="Enter Access Password" value="{{router.access_pwd}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Access URL</label>
                                        <input type="text" class="form-control" name="access_url" placeholder="Enter Access URL" value="{{router.access_url}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Brand</label>
                                        <input type="text" class="form-control" name="brand" placeholder="Enter Brand" value="{{router.brand}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Firmware</label>
                                        <input type="text" class="form-control" name="firmware" placeholder="Enter Firmware" value="{{router.firmware}}" required>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check-label">
                                            <label>Active</label>
                                            {% if router.router_status == True %}
                                                <input type="checkbox" name="router_status" checked>
                                            {% else %}
                                                <input type="checkbox" name="router_status">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
